
.add {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5em;
    width: 8em;
    border-radius: 1em;
    background-color: rgb(253, 27, 27);
    cursor: pointer;
    transition: 0.2s;
    color: white;
}

.add:hover {
    transition: 0.2s;
    background-color: rgb(243, 91, 91);
}
.registerDesign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(180, 188, 223, 1) 100%);
}